<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>付款</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/layui/2.5.4/css/layui.css"  media="all">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a href="/user/home">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login">
                <a th:href="@{/login}" th:text="登录" th:if="${user.id==null}" class="text-right"></a>
                <a th:href="@{/user/information}" th:text="${user.username}" th:if="${user.id!=null}"></a>
            </div>
            <div class="sp-cart"><a href="/user/myOrder" class="text-right">我的订单</a></div>
            <div class="sp-cart" style="margin-left: 10px"><a href="/user/shoppingCart">购物车</a><span></span></div>
            <div class="sp-cart"><a href="/logOut" class="text-right" th:if="${user.id!=null}">退出登录</a></div>
        </div>
    </div>
</div>
<!--最外层的布局容器-->
<div class="container" style="margin-top: 20px">
    <form class="layui-form" action="">
        <input type="text" th:value="${param.orderId}" name="orderId" hidden>
        <div class="content content-nav-base shopcart-content">
            <div class="cart w1200">
                <div class="cart-table-th">
                    <div class="th th-chk">
                        <div class="select-all">
                            <div class="cart-checkbox">

                            </div>
                        </div>
                    </div>
                    <div class="th th-item">
                        <div class="th-inner">
                            商品
                        </div>
                    </div>
                    <div class="th th-price">
                        <div class="th-inner">
                            单价
                        </div>
                    </div>
                    <div class="th th-amount">
                        <div class="th-inner">
                            数量
                        </div>
                    </div>
                    <div class="th th-sum">
                        <div class="th-inner">
                            小计
                        </div>
                    </div>
                </div>
                <div class="OrderList">
                    <div class="order-content" id="list-cont">
                        <ul class="item-content layui-clear" th:each="goods:${order.goodsList}">
                            <li class="th th-chk">
                                <div class="select-all">

                                </div>
                            </li>
                            <li class="th th-item">
                                <div class="item-cont">
                                    <img th:src="${goods.image}" alt="">
                                    <div class="text">
                                        <div class="title" th:text="${goods.goodsName}"></div>
<!--                                        <p><span>粉色</span>  <span>130</span>cm</p>-->
                                    </div>
                                </div>
                            </li>
                            <li class="th th-price">
                                <span class="th-su" th:text="${goods.price}"></span>
                            </li>
                            <li class="th th-amount">
                                <div class="box-btn layui-clear">
                                    <input class="Quantity-input" type="" name="" th:value="${goods.num}" disabled="disabled">
                                </div>
                            </li>
                            <li class="th th-sum">
                                <span class="sum" th:text="${goods.total}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="FloatBarHolder layui-clear">
                    <div class="th Settlement" style="height:auto;width: auto;font-size: medium;line-height:0;">
                        <button class="layui-btn" lay-filter="payButton" lay-submit>结算</button>
                    </div>
                    <div class="th total">
                        <p>应付：<span class="pieces-total" th:text="${order.orderTotal}">0</span></p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

<script src="/webjars/layui/2.5.4/layui.js"></script>
<script th:inline="javascript">
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(payButton)', function(data){
            var payData = {
                status: "1",
                orderId: data.field.orderId
            };
            console.log(payData);
            $.ajax({
                url: "/order/payOrder",
                type: "post",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(payData),
                success: function (result) {
                    if(result.data == 1){
                        layer.msg("付款成功！");
                        setTimeout("window.location.href='/user/home'", 2000);
                    }
                }
            });
            return false;
        });
    });

</script>
<style>
</style>
</html>
