<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.luckinstore.mapper.AddressMapper">
    <resultMap id="BaseResultMap" type="com.lucky.luckinstore.pojo.entity.Address">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="tele" jdbcType="VARCHAR" property="tele"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier" jdbcType="INTEGER" property="modifier"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <!--通过地址id获取地址信息-->
    <select id="selectAddressById" parameterType="Integer" resultType="com.lucky.luckinstore.pojo.dto.AddressDTO">
        select
            t_address.tele,
            t_address.address,
            t_address.deleted,
            t_address.receive_name,
            t_address.sex

        from
            t_address
        where
            id = #{addressId}
    </select>

    <!--通过用户id获取地址列表-->
    <select id="selectAddressByUserId" resultType="com.lucky.luckinstore.pojo.dto.AddressDTO">
        select
            t_address.tele,
            t_address.address,
            t_address.sex,
            t_address.receive_name,
            t_address.id
        from
            t_address
        where
            user_id = #{userId} and deleted = #{deleted}
    </select>

    <!--插入新的地址-->
    <insert id="insertAddress" parameterType="com.lucky.luckinstore.pojo.dto.AddressDTO">
        insert into
            t_address(user_id, tele,receive_name, address, sex, creator, create_time, modifier, modify_time)
        values
            (#{userId}, #{tele}, #{receiveName}, #{address}, #{sex}, #{userId}, now(), #{userId}, now())
    </insert>

    <!--修改地址-->
    <update id="updateAddressById" parameterType="com.lucky.luckinstore.pojo.dto.AddressDTO">
        update
            t_address
        set
            <if test="tele != '' and tele != null">
                tele = #{tele},
            </if>
            <if test="sex != '' and sex != null or sex == 0">
                sex = #{sex},
            </if>
            <if test="address != '' and address != null">
                address = #{address},
            </if>
            <if test="receiveName != '' and receiveName != null">
                receive_name = #{receiveName},
            </if>
            <if test="userId != '' and userId != null">
                modifier = #{userId},
                modify_time = now()
            </if>
        where
            id = #{id}
    </update>
    <!--删除收货地址-->
    <update id="updateDeletedById" parameterType="com.lucky.luckinstore.pojo.dto.AddressDTO">
        update
            t_address
        set
            deleted = #{deleted},
            modifier = #{userId},
            modify_time = now()
        where
            id = #{id}
    </update>
</mapper>