<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.luckinstore.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.lucky.luckinstore.pojo.entity.Comment">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier" jdbcType="INTEGER" property="modifier"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lucky.luckinstore.pojo.entity.Comment">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <!--插入一个评价-->
    <insert id="insertComment" parameterType="com.lucky.luckinstore.pojo.dto.CommentDTO">
        insert into
            t_comment(user_id, goods_id, content, comment_time)
        values
        <foreach collection="list" index="index" item="goodsId" separator=",">
            (#{userId}, #{goodsId}, #{content}, now())
        </foreach>
    </insert>

    <!--根据商品名查询评论-->
    <select id="selectCommentByGoodsId" parameterType="Integer" resultType="com.lucky.luckinstore.pojo.dto.CommentDTO">
        select
            t_comment.content,
            t_goods.goods_name,
            t_comment.comment_time,
            t_user.username
        from
            t_goods
        inner join t_comment on t_comment.goods_id = t_goods.id
        inner join t_user on t_comment.user_id = t_user.id
        where
            goods_id = #{goodsId}
    </select>
</mapper>