<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.luckinstore.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="com.lucky.luckinstore.pojo.entity.Member">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="member_name" jdbcType="VARCHAR" property="memberName"/>
        <result column="member_level" jdbcType="INTEGER" property="memberLevel"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier" jdbcType="INTEGER" property="modifier"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

</mapper>